body {
    background-color: rgb(15, 68, 129);
}

h1 {
    color: rgb(230, 210, 97);
    font-family: 'Nanum Pen Script', cursive;
    font-size: 69px;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.link-container a {
    margin: 2em;
}

.puppy-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.puppy-container img {
    width: 300px;
    margin: 2em;
}